<%- include('partials/header') -%>

<!-- Background brighter opacity image -->
<!-- <div class="bg-image front-page-bkgd-img" 
     style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 100%), url('/imgs/andrew-ridley-6KCS---7jbc-unsplash.jpg');
            height: 90vh;"> -->
<!-- Background brighter opacity image -->

<!-- Background darker opacity image -->
<div class="bg-image front-page-bkgd-img" 
     style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.45) 100%), url('/imgs/andrew-ridley-6KCS---7jbc-unsplash.jpg');
            height: 90vh;">
<!-- Background darker opacity image -->


    <%if (!currentUser){ %>
        <main class="container">
            <div class="row justify-content-end mt-3">
                <a href="/login" class="col-2 btn btn-light btn-sm"> Login</a>
                <a href="/signup" class="col-2 btn btn-dark btn-sm"> Signup</a>
            </div>
        </main>
    <%}%>

    <header class="container mt-5 front-page-header">
        <div class="d-flex align-items-center flex-column text-center text-white front-page-header">
            <h1 class="BYF pt-5 display-1 fw-bold ">Backyard Forager</h1>
            <p>A place to record and share your foraging adventures with like minded people. Learn about the many fungi and plants growing in your neighborhood! Turn some into dinner! </p>
            <span class="lead">Explore the diverse wildlife your backyard has to offer!</span>
            <a href="/signup" class="btn btn-dark btn-sm mt-3">Join us!</a>
        </div>
    </header>
</div>


<%- include('partials/footer') -%>